.chess-board {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;

}

.rotated {
    transform: rotate(180deg);
}

.row {
    display: flex;
    flex-direction: row;
}

/* Base: smallest (mobile-first) */
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: 1px solid white;
  background-color: white;
}

/* Small screens ≥ 640px */
@media (min-width: 640px) {
  .square {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Medium screens ≥ 768px */
@media (min-width: 768px) {
  .square {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Large screens ≥ 1024px */
@media (min-width: 1024px) {
  .square {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Extra large screens ≥ 1280px */
@media (min-width: 1280px) {
  .square {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.game-over-message {
    color: white;
}

.promotion-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
}

.promotion-dialog img {
    height: 70px;
    cursor: pointer;
}

.close-promotion-dialog {
    font-size: 45px;
    cursor: pointer;
    color: white;
}

.dark {
    background-color: #02080c
}

.light {
    background-color: #D9E4E8;
}

.piece {
    width: 50px;
}

.selected-square {
    box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.safe-square {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    z-index: 100;
}

.king-in-check {
    box-shadow: inset rgb(179, 21, 0) 0px 0px 40px 0px, inset rgb(163, 11, 0) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.last-move {
    box-shadow: inset rgb(6, 179, 0) 0px 0px 40px 0px, inset rgb(6, 179, 0)0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.promotion-square {
    box-shadow: inset rgb(0, 98, 150) 0px 0px 40px 0px, inset rgb(0, 98, 150) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}